{% extends 'base.html' %}

{% block content %}

<div class="col">
    <div>
        <h6><a href="{% url 'regbiologicosapp:export_registros_csv_list' %}"> Exportar a archivo CSV</a></h6>
    </div>

    <div class="row">
        
        <div class="col-md-4">
            <div class="h4">
                Formulario de registros de especies
            </div>
            <div class="mt-2">
                {% include 'regbiologicos/snippets/form.html'  with message='Guardar' %}
            </div>
            
        </div>
        <div class="col-md-8">
            <!-- <div class="h3">
                Listado de registros de especies
            </div> -->
           
            <div class="mt-2">
                    {% include 'regbiologicos/snippets/especies_list.html' with edit=True %}
            </div>
        
        </div>
    </div>

</div>

{% endblock content %}