<div class="card">
    <h5 class="card-header">Listado de proyectos</h5>
    
    <div class="card-body">
       
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Acciones</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in proyectos %}

                        <tr>
                          <th>{{ p.nombre }}</th>
                          <td>{{ p.descripcion }}</td>
                          <td>
                                <div class="mt-2">
                                        <a href="{% url 'regbiologicosapp:update_proyecto' p.pk %}" class = "btn btn-info mt-2">Editar</a>
                                        <a href="{% url 'regbiologicosapp:delete_proyecto' p.pk %}" class = "btn btn-danger mt-2">Eliminar</a>
                                </div>
                          </td>
                        </tr>
                        {% empty %}
                            <p>No existen proyectos registrados</p>
                        {% endfor %}
                      </tbody>
                </table>
              </div>
       
        

        
        
    </div>
    
</div>